<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="BarionBaseAddress" value="https://api.test.barion.com/" />
        <add key="BarionPOSKey" value="00000000000000000000000000000000" />
        <add key="BarionPayee" value="user@example.com" />
        <add key="BarionPayer" value="user@example.com" />
        <add key="BarionPayerPassword" value="P@ssW0rd" />
    </appSettings>
</configuration>