<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <appSettings>
        <add key="BarionBaseAddress" value="https://api.test.barion.com/"/>
        <add key="BarionPOSKey" value="00000000000000000000000000000000"/>
        <add key="BarionPayee" value="user@example.com"/>
    </appSettings>
</configuration>
